    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Michelle Tham</h2>
              <br/>
                <p>Michelle Tham is a sophomore at Stony Brook University majoring in Computer Science. 
                    Her passion to create beautiful ideas using code was sparked at her time during the summer of 2017 
                    when she enrolled into <a href="http://girlswhocode.com/summer-immersion-programs/">
                    Girls Who Code's Summer Immersion Program</a> at Pfizer Inc. In summer 2019, Michelle interned at 
                    Bank of America as a Global Technology Analyst in the Cyber Security Technology team.
                    In summer 2020, Michelle will intern at American Express as a software engineering intern.</p>
                <br/>
              </div>
        </div>
    </section>
