    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <br/><br/><br/>
        <center><img src="img/profile-picture.png" style="width:30%; height:auto"></center>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <h2>michelle tham</h2>
              <br/>
                <p>michelle is a junior at stony brook university majoring in computer science. 
                    her passion to create beautiful ideas using code was sparked at her time during the summer of 2017 
                    when she enrolled into <a href="http://girlswhocode.com/summer-immersion-programs/">
                    girls who code's summer immersion program</a> at pfizer inc. she previously interned at bank of america
                    as a technology analyst and at american express as a software engineer. this upcoming summer, michelle is
                    excited to intern at capital one!</p>
                <br/>
              </div>
        </div>
    </section>
